<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.simplyapp.plate.calculator">


    <application
        android:name=".PlateCalculatorApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}${appNameSuffix}"
        android:supportsRtl="true"
        android:theme="@style/Theme.SushiPlateApp"
        tools:replace="android:allowBackup">
        <activity android:name=".ui.calculator.CalculatorActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.settings.SettingsActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
    </application>

</manifest>
